<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <%-> @css %>
</head>
<body>
  <% 10.times.each do |n| %>
    <%= Test2.new %> 
  <% end %>
  <%-> @js %>
</body>
</html>
